
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');




.quicksand-font {
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-weight: 400px;
  font-style: normal;
}

/* shard styles */
.display-flex{
    display: flex;
    
    

}

/* fast-primary */
.text-gray{
    color: rgba(254, 163, 1, 1);
    font-weight: 700;
    font-size: 1.25rem;
}



/* secound-primary */
.text-light-gray{
    color: rgba(1, 172, 253, 1);
    font-weight: 500px;
    font-size: 1.25rem;

}
/* third-primary */
.text-blue-gray{
    color: rgba(5, 212, 223, 1);
    font-weight: 500px;
    font-size: 1.25rem;
}

/* fourth-primary */
.text-sky-gray{
    color: rgba(93, 88, 239, 1);
    font-weight: 500px;
    font-size: 1.25rem;
    
}


.btn-primary{
    background-color: rgba(254, 163, 1, 1);
    width: 195px;
    padding: 10px;
    color: white;
    font-weight: 600px;
    font-size: 1.25rem;
    border: none;
    border-radius: 12px;
    margin-left: 186px;
   
 
   
}

 #humbargar{
    visibility: hidden;
 }



/* header styles */


/* navbar related styles */
.navbar{
    justify-content: space-between;
    margin-right: 160px;
    

   
}
.logo-style{
    margin-left: 140px;
    
    
   
}



.brand{
    color: rgba(17, 17, 17, 1);
    font-weight: 700px;
    font-size: 2rem;
    margin-top: 5px;
    
   
   
}

.nav-item{
    list-style: none;
    margin-right: 30px;
   
   
}


.nav-link{
    text-decoration: none;
    font-weight: 500;
}

.icon-title{
    visibility: hidden;
}


/* banner section style */

.banner head{
   

}
.banner{
    margin-left: 140px;
    margin-top: 120px;
     gap: 50px;
}

.banner-2{
    margin-right: 140px;
}


.collage-1{
    color: rgba(254, 163, 1, 1);
    font-weight: 700px;
    font-size: 3.50rem;

}

.collage-2{
    color: rgba(17, 17, 17, 1);
    font-weight: 700;
    font-size: 3.50rem;
}

.collage-3{
    color: rgba(1, 172, 253, 1);
    font-weight: 700px;
    font-size: 3.50rem;
}
.collage-4{
    color: rgba(17, 17, 17, 1);
    font-weight: 400px;
    font-size: 1.25rem;
}

.btn-2{
    background-color: rgba(17, 17, 17, 1);
    width: 195px;
    padding: 10px;
    color: white;
    font-weight: 700px;
    font-size: 1.25rem;
    border: none;
    border-radius: 12px;
}

/* main section style */
.Curriculum{
    text-align: center;
    color: rgba(0, 0, 0, 1);
    margin-top: 60px;
    font-weight: 700px;
    font-size: 46px;
}


.Standard{
    justify-content: space-around;
    margin-left: 140px;
    margin-right: 140px;
    gap: 28px;
    background-image: url(../assets/bg.png);
}

/* card styles */
.card-title{
    color: rgba(32, 32, 32, 1);
    font-weight: 700;
    font-size: 25px;
}
.card-sub-title{
    color: rgba(128, 128, 128, 1);
    font-weight: 500px;
    font-size: 15px;
}

.card-destribution-1{
    color: rgba(100, 200, 255, 1);
    font-weight: 700px;
    font-size: 15px;
    border: none;
    background-color: white;

    
}

.card-destribution-2{
    color: rgba(240, 170, 0, 1);
    font-weight: 700px;
    font-size: 15px;
    border: none;
    background-color: white;
    
}

.card-destribution-3{
    
    color: rgba(135, 0, 255, 1);
    font-weight: 700px;
    font-size: 15px;
    border: none;
    background-color: white;
    
}

.card{
    text-align: center;
    background-color: rgba(222, 245, 255, 1);
    width: 365px;
    border: 1px solid tomato;
    border-radius: 18px;
}

.card-2{
    text-align: center;
    background-color: rgba(255, 244, 220, 1);
    width: 365px;
    border: 1px solid tomato;
    border-radius: 18px;
}

.card-3{
    text-align: center;
    background-color: rgba(242, 232, 255, 1);
    width: 365px;
    border: 1px solid tomato;
    border-radius: 18px;
}


.content{
    justify-items: center;
}



/*responsive media query small device */

@media screen and (max-width: 576px) {

 .navbar,.nav-links{
    flex-direction: column;
    visibility: hidden;
 }
  
   
    

  .logo-style{
    visibility: visible;
    margin-right: 150px;
    width: 300px;
    margin-inline-start: auto;
    
 }

 .icon-title{
    margin-top: -300px;
   margin-right: auto;
   width: 390px;
   visibility: visible;
   
}
    
.logo-style,.icon-title{
    border-bottom: 1px solid tomato;
    
}
.banner{
    margin-left: 1.25rem;
    width: 100%;
    height: 50%;
    
     
}


.banner-2{
    margin-right: 1.25rem;
    height: 50%;
    width: 100%;
}
.banner,.banner-2{
    flex-direction: column-reverse;
    text-overflow: ellipsis;
   
   
}

.Standard{
    flex-direction: column;
    width: 100%;
   height: 51%;
   margin-left: 1.25rem;
}
.Curriculum{
   
    color: rgba(0, 0, 0, 1);
    margin-top: 60px;
    font-weight: 260px;
    font-size: 46px;
}  

}
 